[submodule "qbs-shared"]
	path = qbs/shared
	url = git://github.com/lirios/qbs-shared
	branch = master
[submodule "cmake-shared"]
	path = cmake/shared
	url = git://github.com/lirios/cmake-shared
	branch = develop
