[submodule "features"]
	path = features
	url = git://github.com/lirios/qmake-features
	branch = master
[submodule "qbs-shared"]
	path = qbs-shared
	url = git://github.com/lirios/qbs-shared
	branch = master
