html, body {
  font-family: "Noto Sans", sans-serif;
}

ul.navigationbar li {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  padding-right: 10px;
  color: red;
}

.context tr > td > pre {
  font-size:0.85em
}

pre:hover>.copy_text {
  display:inline-block;
  opacity:1;
  transition:0.5s ease
}

pre {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #03a9f4;
  background-color: #f5f5f5;
  color: #212121;
  display: block;
  line-height: 1.5;
  overflow-x: auto;
  margin-top: 0.75em;
  margin-bottom: 25px;
  padding: 20px;
  font-size: 1em;
}

.sidebar {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 25px;
  width: 100%;
}

table, table td, table th {
  border: 1px solid #eee;
}

table td, table th {
  padding: 5px 20px;
  line-height: 1.3;
}

table.alignedsummary, table.propsummary {
  width: initial;
}

table.alignedsummary td {
  vertical-align: top;
}

.context table {
  vertical-align: initial;
}

.rightAlign {
  padding: 3px 5px 3px 10px;
  text-align: right;
}

.qmlproto table {
  border: none;
  border-bottom: 2px #eee solid;
}
.qmlname, .qmlname td p {
  font-size: 1.46em;
}
.qmlname td, .qmlname th {
  text-align: left;
  padding: 5px 0 0 0;
}
.context h3.fn .name,
.context h3 span.type,
.qmlname span.name {
  font-weight: 400;
}
